<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="baseAction" class="cn.itcast.shop.action.BaseAction" scope="prototype">
		<property name="accountService" ref="accountService" />
		<property name="categoryService" ref="categoryService" />
		<property name="goodsService" ref="goodsService" />
		<property name="fileUploadUtil" ref="fileUploadUtil" />
		<property name="sorderService" ref="sorderService" />
		<property name="forderService" ref="forderService" />
		<property name="usersService" ref="usersService" />
		<property name="onlinePayService" ref="onlinePayService" />
		<property name="shopEmaiUtill" ref="shopEmaiUtill" />
		<property name="luceneServiceImpl" ref="luceneServiceImpl" />
		<property name="roleService" ref="roleService" />
		<property name="privilegeService" ref="privilegeService" />
	</bean>
	<bean id="forderAction" class="cn.itcast.shop.action.ForderAction" parent="baseAction" scope="prototype" />
	<bean id="accountAction" class="cn.itcast.shop.action.AccountAction" parent="baseAction" scope="prototype"  />
	<bean id="categoryAction" class="cn.itcast.shop.action.CategoryAction" parent="baseAction" scope="prototype" />
	<bean id="goodsAction" class="cn.itcast.shop.action.GoodsAction" parent="baseAction" scope="prototype" />
	<bean id="sorderAction" class="cn.itcast.shop.action.SorderAction" parent="baseAction" scope="prototype" />
	<bean id="usersAction" class="cn.itcast.shop.action.UsersAction" parent="baseAction" scope="prototype" />
	<bean id="payAction" class="cn.itcast.shop.action.PayAction" parent="baseAction" scope="prototype" />
	<bean id="roleAction" class="cn.itcast.shop.action.RoleAction" parent="baseAction" scope="prototype" />
</beans>